 <style>
    body{
        background-color:#FFFFE0;
        }
        input[type=text], select{
        width:50%;
        padding:12px 20px;
        border: 0.5px
        border-radius:5px
        }
        input[type=submit], select{
        width:54%;
        padding:12px 20px;
        background-color:blue;
        cursor:pointer;
        border:0.5px;
        border-radius:5px;
        }
 </style>
